{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class='container'>
	<h2 class='text-center my-4'>About Murakaru Co.</h2>
	<div class='row' style='mb-3'>
		<div class='col-md-8'>
	<p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec adipiscing tristique risus nec feugiat in fermentum. Quis varius quam quisque id. Sit amet nisl suscipit adipiscing. Scelerisque purus semper eget duis at tellus. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Tincidunt tortor aliquam nulla facilisi cras fermentum. In egestas erat imperdiet sed. Convallis posuere morbi leo urna molestie at elementum eu. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius.</p>
		</div>
		<div class='d-none d-md-block col-4'>
			<img src='/static/work.jpg' style='height:320px; border-radius:4px;'>
		</div>
	</div>
	<h2 class='text-center my-4'>Jobs at Murakaru Co.</h2>
	<div style='margin-bottom: 16px;'>
		{% for job in jobs %}
			{% include 'job_item.html' %}
		{% endfor %}
	</div>
</div>
{% endblock %}