<div class='border-bottom border-secondary-subtle my-2 pb-2 row align-items-center'>
	<div class='col-9'>
		<h4 style='color: rgb(120, 120, 120); margin-bottom: 4px;'>
			{{ job['title'] }}
		</h4>
		<div>
			<div>
				<b>Location: </b>{{ job['location'] }}
			</div>
			{% if 'salary' in job %}
			<div>
				<b>Salary: </b>{{ job['currency'] }} {{ job['salary'] }}
			</div>
			{% endif %}
		</div>
	</div>
	<div class='col-3 align-items-right'>
		<a href='/job/{{job["id"]}}' class="btn btn-outline-primary">
			Apply
		</a>
	</div> 
</div>